@import './structure.css';

/* Classes principais */

.logo img {
    width: 216px;
    height: 48px;
    margin: 40px 10px;
}

.header-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.buyvehicle {
    display: flex;
}

.buyvehicle span {
    text-transform: uppercase;
    font-size: 11px;
    margin-left: 20px;
}

.buyvehicle h2 {
    text-transform: uppercase;
    font-size: 23px;
}

.btn-car {
    border: 0px;
    background: transparent;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px 20px 10px 10px;
    border-bottom: 1px solid #dadada;
}

.btn-car h2::before {
    display: inline-block;
    content: "";
    width: 40px;
    height: 15px;
    background-image: url("https://cdn.webmotors.com.br/webmotors/Content/assets/img/car_icon_gray.svg?v=385");
    background-repeat: no-repeat;
    margin-right: 20px;
}

.btn-car2 {
    background: transparent;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px 20px 10px 10px;
    border-bottom: 1px solid #dadada;
    color: #cc2929;
    border-bottom: 1px solid #cc2929;
}

.btn-car2 h2::before {
    display: inline-block;
    content: "";
    width: 40px;
    height: 15px;
    background-image: url("https://cdn.webmotors.com.br/webmotors/Content/assets/img/car_icon_red.svg?v=385");
    background-repeat: no-repeat;
    margin-right: 20px;
}

button.btn-bike {
    border: 0px;
    background: transparent;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px 20px 10px 10px;
    border-bottom: 1px solid #dadada;
}

.btn-bike h2::before {
    display: inline-block;
    content: "";
    width: 40px;
    height: 20px;
    background-image: url("https://cdn.webmotors.com.br/webmotors/Content/assets/img/bike_icon_gray.svg?v=385");
    background-repeat: no-repeat;
    margin-right: 15px;
}

.btn-bike2 {
    background: transparent;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px 20px 10px 10px;
    border-bottom: 1px solid #dadada;
    color: #cc2929;
    border-bottom: 1px solid #cc2929 !important;
}

.btn-bike2 h2::before {
    display: inline-block;
    content: "";
    width: 40px;
    height: 20px;
    background-image: url("https://cdn.webmotors.com.br/webmotors/Content/assets/img/bike_icon_red.svg?v=385");
    background-repeat: no-repeat;
    margin-right: 15px;
}

.btn-bike span {
    margin-left: 28px;
}

.btn-sell {
    border: 2px solid orange;
    border-radius: 3px;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: orange;
    font-weight: 700;
    font-size: 15px;
}

.btn-sell:hover {
    background-color: orange;
    color: white;
}

.main-box {
    background: #fff;
    padding: 20px 50px;
    box-shadow: 1px 1px 1px rgba(174, 174, 181, .2);
}

.checkoption {
    height: 50px;
}

input#old {
    margin-left: 30px;
}

.linha-1 {
    display: flex;
    height: 50px;
}

.where-radius-col {
    display: flex;
    place-content: space-between;
    transition: ease 0.3s;
}

.citystate::before {
    content: "";
    background-image: url(https://cdn.webmotors.com.br/webmotors/Content/assets/img/pin_icon.svg?v=385);
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 15px;
    height: 20px;
    margin: 0px 10px;
}

.radius {
    width: 100px;
    padding-left: 10px;
    border: none;
    border-left: 1px solid #b5b5bf;

}

.brand-col {
    margin: 0px 10px;
}

.linha-2 {
    display: flex;
    height: 50px;
}

.price-col {
    margin: 0px 10px;
}

.linha-3 {
    display: flex;
    height: 60px;
}

.filter-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    color: #cc2929;
    font-weight: 700;
}

.search::before {
    content: "›";
    color: #cc2929;
    font-size: 15px;
    margin-right: 10px;
}

.search:hover {
    text-decoration: underline;
}

.filter {
    color: #8b8b97;
    margin-right: 30px;
}

.filter:hover {
    text-decoration: underline;
}

.offers {
    background-color: #f54747;
    border: 1px solid #f54747;
    border-radius: 5px;
    width: 100%;
    margin: auto;
    height: 80%;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}

.offers:hover {
    opacity: 0.9;
}

@media (max-width: 568px) {
    .header-box {
        display: block
    }

    .btn-sell {
        width: 100%;
        margin-bottom: 20px;
    }

    .buyvehicle {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .btn-car,
    .btn-car2,
    .btn-bike,
    .btn-bike2 {
        padding: 0px !important;
        width: 100%;
    }

    .main-box {
        padding: 15px 30px;
    }

    .checkoption,
    .linha-1,
    .linha-2,
    .linha-3 {
        display: block;
        height: auto;
    }

    .citystate {
        font-size: 12px;
    }

    .citystate::before {
        width: 10px;
        height: 15px;
        margin: 0px 5px;
    }

    .radius {
        font-size: 12px;
    }

    .brand-col {
        margin: 0px;
    }

    select#modelSelect {
        margin-bottom: 0px;
    }

    .price-col {
        margin: 0px;
    }
}

@media (max-width: 360px) {
    .main-box {
        padding: 15px 45px;
    }

    .buyvehicle h2 {
        font-size: 18px;
    }

    .buyvehicle span {
        margin-left: 35px;
    }

    .buyvehicle span {
        margin-left: 45px;
    }

    .filter-links a {
        font-size: 14px;
        margin: 0px;
    }
}

@media (max-width: 320px) {
    .main-box {
        padding: 15px 25px;
    }
}