/* Classes estruturais */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

body {
    background: #f4f4f4;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

button:focus {
    outline: none;
}

select:focus {
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
}

.container {
    max-width: 933px;
    margin: auto;
    padding: 0px 10px;
}

.col-4 {
    width: 208.25px
}

.col-6 {
    width: 319.875px
}

.col-8 {
    width: 426.50px
}

.col-10 {
    width: 533.125px
}

.col-sytle {
    height: 40px;
    line-height: 40px;
    border: 1.3px solid #b5b5bf;
    border-radius: 5px;
    padding-left: 10px;
}

/* Responsivo */

@media (max-width: 568px) {
    .container {
        max-width: 568px;
    }

    .col-12-mb {
        width: 320px;
        margin: 10px 0px;
    }
}

@media (max-width: 360px) {
    .container {
        padding: 0px
    }

    .col-12-mb {
        width: 270px;
        margin: 10px 0px;
    }
}